/**
* global
*/
#app.admin {
    display: flex;
    flex-wrap: wrap;
}
section[role=sidebar] {
    float: left;
    width: 250px;
    background: $gray-700;
    color: $gray-100;
    header.site-name {
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: darken($gray-800, 0%);
        padding-top: 10px;
    }

    div[role=userinfo] {
        padding: 1rem;
        position: relative;
        div.avatar {
            width: 100px;
            height: 100px;
            margin: 0 auto;
            
            img {
                border-radius: 50%;
                width: 100%;
                height: 100%;
            }
        }
        .logout-link {
            width: 25px;
            height: 25px;
            position: absolute;
            top: 55px;
            right: 30px;
            font-size: 140%;
            
        }
        div.user {
            padding: 0.5rem 0;
            font-size: 1.2rem;
        }
    }
    div[role=section-selection] {
        div.section {
            & > label, & > a {
                display: flex;
                align-items: center;
                width: 100%;
                background: darken($gray-600, 20%);
                padding: 0.5rem 0 0.5rem 1rem;
                cursor: pointer;    
                transition: background 0.2s ease;
                margin: 0;
                color: inherit;
                position: relative;
            }
            & > label:hover, & > a:hover, & > label.active, & > a.active {
                background: darken($gray-700, 5%);
            }
            
            input[type=checkbox].controller {
                position: absolute;
                top: -99999px;
                left: -999999px;
            }
            div.controlled {
                transition:  max-height 0.2s  0.1s;
                max-height: 0;
                transform-origin: top center;
                
                overflow: hidden;
            }
            input[type=checkbox].controller:checked ~ div.controlled {
                 max-height: 5rem;
            }
            div.controlled > ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    display: block;
                    padding: 0;
                    a {
                        color: inherit;
                        display: block;
                        padding: 0.5rem 1rem 0.5rem 2.5rem;
                        transition: background 0.2s ease;
                    }
                    a:hover, a.active {
                        background: $color-primary;
                    }
                }
            }
        }

    }
}
section[role=content] {
    float: left;
    width: calc(100% - 250px);
    background: $gray-100;
    header.breadcumb {
        display: flex;
        align-items: center;
        height: 3rem;
        background: $gray-200;
        padding-left: 2rem;
        span.parent {
            font-size: 1.1rem;
            color: $gray-600;
        }
        span.current {
            font-size: 1.1rem;
        }
        span.parent:after {
            content: ">";
            padding: 0 0.3rem 0 0.2rem;
            font-family: "Roboto Condensed";
        }
    }
    main.content {
        padding: 2rem;
        min-height: calc(100vh - 3rem);
        div[role=head]:after {
            display: block;
            content: "";
            background: $color-secondary;
            height: 5px;
            width: 15%;
            margin-bottom: $spacer;
        }
    }
}
section[role=credit] {
    padding-top: 0.5rem;
    background: darken($gray-100, 3%);
    padding-left: 250px;
    position: relative;
    &:before {
        display: block;
        content: "";
        background: $gray-700;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 250px;
    }
    p {
        margin-bottom: 0.5rem;
    }
}

/*****************************************************************************************************/
/** DASHBOARD ****************************************************************************************/
/*****************************************************************************************************/
a.dashboard-card {
    display: block;
    margin: 15px 30px 0;
    padding: 20px 0 20px 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    background: #ffffff;
}