body#frontend {
    section#sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100px;
        background-color: #161616;
        background-image: repeating-linear-gradient(to bottom, rgb(0,0,0) 0%, rgb(44,44,44) 100%);
        color: $gray-100;
        margin: 0;
        .col {
            padding: 0;
        }
        .logo {
            margin: 20px;
            svg {
                fill: #ffffff;
                stroke: #ffffff;
                width: 60px;
                height: 60px;
                margin: 0;
                
            }
        }
        .page-name {
            display: none;
            text-transform: uppercase;
            text-align: center;
            word-spacing: 100vw;
            font-size: 1.2rem;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease;
        }
        .logo:hover + .page-name {
            max-height: 200px;
        }
        nav#sidebar-menu {
            ul {
                li {
                    text-align: center;
                    padding: 0.2rem 0;
                    position: relative;
                    margin: 0.1rem 0;
                    a {
                        color: $gray-100;
                        text-transform: uppercase;
                        @extend .heading;
                        font-size: 0.8rem;
                        display: block;
                    }
                }
                li:before {
                    display: block;
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 3px;
                    background: transparent;
                    transition: background 0.2s ease;
                }
                li:hover:before {
                    background: $brand-color;
                }
            }
        }

        div#loading-indicator {
            height: 200px;
            background: $gray-500;
        }
        div.facebook-contact {
            a {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 999;
                background: $brand-color;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                color: $gray-700;
                text-transform: uppercase;
                opacity: 0;
                transition: opacity 0.2s ease;
                span {
                    width: 100%;
                    text-align: center;
                    margin-bottom: 0;
                }
            }
            img {
                position: relative;
                width: 100px;
                height: 100px;
            }
        }
        div.facebook-contact:hover {
            a {
                opacity: 1;
            }
        }
    }
    section#content {
        margin-left: 100px;
        background: #cdcdcd;
        min-height: 100vh;
        nav#top-menu {
            background: $gray-700;
            height: 30px;
            text-align: center;

            & > a {
                color: $gray-100;
                margin: 0 .5rem;
                text-transform: uppercase;
                font-size: 0.85rem;
                font-weight: 500;
                line-height: 30px;
                position: relative;
                padding: 2px 0.5rem;
                & > span {
                    position: relative;
                    z-index: 999;
                }
            }
            & > a:before {
                display: block;
                content: "";
                background: darken($brand-color, 10%);
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 99;
                transform: scaleY(0);
                transition: transform 0.2s ease;
            }
            & > a:hover:before {
                transform: scaleY(1);
            }
        }

        #album-list {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            & > .album-bits {
                flex: 0 0 auto;
                display: block;
                width: calc(100% / 3);
                & > img {
                    width: 100%;
                    object-fit: cover;
                    height: 100%;
                    

                }
            }

            .album-bits.latest {
                width: 100%;
                height: 50vh;
                min-height: 500px;
                position: relative;
                display: block;
            }

            .album-bits:not(.latest) > img {
               filter: #{"grayscale(1)"};
               transition: filter 0.2s ease;
            }
            .album-bits:not(.latest):hover > img {
                filter: none;
            }
            & > .extra-info {
                width: 100%;
                height: 80px;
                background: #000000;
                font-family: $headings-font-family;
                padding: 0 15%;
                color: $gray-100;
                margin-bottom: 0;
                
            }
            & > .extra-info > .content {
                    & > .tags {
                        font-size: 0.9rem;
                        padding: 10px 0;
                    }
                    & > .stats {
                        padding: 0.7rem 2rem;
                        & > .count {
                            margin-bottom: 0;
                        }
                        & > span {
                            text-transform: uppercase;
                            font-size: 0.75rem;
                        }
                    }
                    & > .goto-album {
                        padding: 0 0 0 4rem;
                        margin-top: calc(48px - 1.25rem);
                        & > a {
                            color: $gray-100;
                            border: $gray-100 2px solid;
                            text-transform: uppercase;
                            padding: 0.5rem 1.5rem;
                            background: transparent;
                            transition: color 0.2s ease 0s, background 0.2s ease 0s;
                        }
                        & > a:hover {
                            background: $gray-100;
                            color: $gray-800;
                        }
                    }
            }
        }
    }
}